* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: SF Pro Display;
    font-weight: Semibold;
}

body {
    background-color: black;
    background-image: url(/static/images/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 30PX;
    display: inline;
}

h2 {
    display: inline;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(241, 241, 241, 0.2);
    border-radius: 10px;
}

.center {
    width: 500px;
    height: 400px;
    align-items: center;
    padding-top: 30px;
    border: 3px solid rgb(168, 168, 168)
}

.center h1 {
    padding-top: 20px;
    margin-left: 40%;
    text-align: center;
    border-bottom: 1px solid silver;
    color: rgb(255, 255, 255);
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .textfield {
    color: rgb(0, 0, 0);
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.textfield input {
    width: 100%;
    padding: 0 5px;
    margin-top: 10px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}

.textfield label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(255, 255, 255);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.textfield span::before {
    content: '';
    position: absolute;
    top: 40px;
    margin-top: 5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #000000;
    transition: .5s;
}

.textfield input:focus~label,
.textfield input:valid~label {
    top: -5px;
    color: black;
}

.textfield input:focus~span::before,
.textfield input:valid~span::before {
    width: 100%;
}

.createacc {
    margin: -5px 0 20px 5px;
    color: black;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 40%;
    border-radius: 5px;
    margin-left: 30%;
    height: 50px;
    border: 1px solid;
    background: white;
    font-size: 18px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    background: black;
    font-size: 18px;
    color: white;
    transition: .5s;
}

.createacc:hover {
    color: white;
    transition: .5s;
}
